<%= render "science-nav" %>



  <!-- <div id="education-top" class="education-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dxy1zcexj/image/upload/v1568385913/climate-4342959_i3bl1q.jpg')"> -->
 <!-- <div id="education-wrapper"> -->
  <div id="education-wrapper" class="education-image" style="font-size: 30px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dxy1zcexj/image/upload/v1568613738/lightning-945430_1920_njp3ak.jpg')">
      <div class="facts-container p-5">
        <div class="education-text">
          <h1>Education</h1>
          <a href="#storm-wrapper">
            <p class="science-fact-link">1: Extreme Storms & Flooding </p>
          </a>
          <a href="#carbon-wrapper">
            <p class="science-fact-link">2: Historic carbon levels </p>
          </a>
          <a href="#melting-wrapper">
            <p class="science-fact-link">3: Melting Ice & Sea Level Rise </p>
          </a>
          <a href="#temp-wrapper">
            <p class="science-fact-link">4: Record Breaking Temperatures </p>
          </a>
        </div>
    </div>
  </div>
<!-- </div> -->

    <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
<%= render "storms" %>
<%= render "carbon" %>
<%= render "melting" %>
<%= render "temperature" %>
<%= render "footer" %>
