<%= render "nav" %>
    <div id="top bg1" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dxy1zcexj/image/upload/v1568385631/march-home-banner_j8b9vm.jpg')">
      <!-- <div class="row banner-content d-flex justify-content-start"> -->
        <div class="container">
            <div class="col-12 col-lg-12">
            <span class="banner-title">March For Our Planet!</span>
          </div>
          <div class="col-12 col-lg-12">
            <a class="home-button" href="https://actionnetwork.org/event_campaigns/us-climate-strikes" target="_blank">
          <button class="home-button" style="outline: none;">
              <span class="button-inner">Fight Now</span>
          </button>
            </a>
        </div>
      </div>
    <!-- </div> -->
  </div>



<%#= render "shared/social-sidebar" %>
<!-- <div class="icon-bar">
  <div class="icons">
    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
  </div> -->
  <!-- <a href="#" class="twitter"><i class="fab fa-twitter"></i></a> -->
  <!-- <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> -->
<!-- </div> -->
<div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
<%= render "video" %>
<div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

<% if !(request.user_agent =~ /Mobile/ || request.user_agent =~ /(tablet|ipad)|(android(?!.*mobile))/i) %>
    <%= render "parralax" %>
    <div id="science-top-border" class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
<% end %>
  <%= render "science" %>
  <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

<%= render "footer" %>

